body {
    background-color: #bafff5;
    font-family: "Oswald", sans-serif;
}


.form {
    padding-top: 10%;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    
}

input {
    font-size: 20px;
    width: 17em;
    height: 2em;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 255, .2);
}

label {
    display: block;
    font-size: 20px;
}

.button {
    width: 200px;
    background-color: #2bfc8d;
    color: black;
    font-weight: bold;
    
}

.button:hover {
    background: yellow;
    transition: background-color 0,5s;
}

.button:active {
    background-color: #2e7031; /* колір при натисканні */
    color: white;
}

.get-form {
    text-align: center;
    background-color: #9ec6ff;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}