<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/reauth.css">
    <title>Reauthentication</title>
</head>
<body>
    <div class="form">
        <h1>Reauthentication Required</h1>
        <form action="/reauth" method="post">
            {% for question in questions %}
                <label>{{ question }}</label>
                <input class="input" type="text" name="answers" required><br><br>
            {% endfor %}
            <input class="button" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
